* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar {
    background-color: #3aa0ff; 
    color: #fff; 
    padding: 20px 0; 
}

/* Centralizando o conteúdo da navbar */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px; 
    margin: 0 auto; 
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px; 
    margin-right: 10px;
}


.logo h1 {
    font-family: 'Poppins', sans-serif; 
}


.nav-links {
    list-style-type: none; 
}

.nav-links li {
    display: inline-block; 
    margin-right: 20px; 
}

.nav-links li a {
    color: #fff; 
    text-decoration: none; 
    font-family: 'Poppins', sans-serif; 
    font-size: 18px; 
}

/* Estilizando o formulário e ajustando margens */
form {
    max-width: 800px; /* Largura máxima do formulário */
    margin: 15px auto; /* Espaçamento entre a navbar e o formulário */
    padding: 20px; /* Preenchimento interno do formulário */
    background-color: #3eb5ff; /* Cor de fundo do formulário */
    border-radius: 10px; /* Arredondamento das bordas do formulário */
}

/* Estilo para os labels */
label {
    display: block; /* Exibindo os labels em bloco */
    margin-bottom: 5px; /* Espaçamento abaixo de cada label */
    font-family: 'Poppins', sans-serif; /* Fonte dos labels */
}

/* Estilo para o campo de descrição */
textarea[name="descrição"] {
    height: 100px; /* Altura do campo de descrição */
}


#botão {
    text-align: right; /* botão à direita */
}

.bnt {
    background-color: #96ff50;
    color: #000000; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
    font-family: 'Poppins', sans-serif; 
    font-size: 16px; 
}

/* Estilo para o input de arquivo */
input[type="file"] {
    margin-top: 5px; /* Espaçamento acima do input de arquivo */
}

#titulo{
    text-align: center;
    font-family:'Poppins', sans-serif ;
    color: #3aa0ff;
    margin-top: 5px;
}
